.form-group {
  display: flex;
}

.form-label {
  flex: 4 1 40%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-row {
  flex: 6 1 60%;
  display: flex;
}

.form-row-control {
  flex: 1 1 auto;
}

.form-row-units {
  flex: 0 0 auto;
  align-self: center;
}

.btn {
  margin-bottom: 1px;
}

.btn-primary {
  color: white !important;
}

.btn:disabled {
  opacity: 0.35;
}

.hint {
  font-size: 7pt;
  color: #888;
}

.form-error-text {
  width:100%;
  font-size: 90%;
  color: red;
  text-align: right;
}

/*
.rc-slider {
  padding: 15px 0;

  .rc-slider-rail {
	height: 2px;
	background-color: silver;
  }
  .rc-slider-track {
	height: 2px;
	background-color: $primary;
  }
  .rc-slider-handle {
	margin-left: -9px;
	margin-top: -7px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: none;
	background-color: $primary;
  }

  &.rc-slider-disabled {
	.rc-slider-track, .rc-slider-handle {
	  background-color: silver;
	}

  }
}
*/

