html {
  position:absolute !important;
  bottom:0; top:0; left:0; right:0;
}

#root {
  position: relative;
  width:100%;
  height:100%;
}

#page-selector {
  padding:20px;
  .birka{
    padding:20px;
    &.selected {
      background-color: antiquewhite;
    }
  }
}

/// Editor--------------

#page-editor {
  position: absolute;
  top:0;bottom:20px;
  left:0;right:20px;
  display:flex;
  flex-direction: column;
}

#area-editor {
  position:relative;
  background-color: lightcoral;
}

#layout-toolbar{
  flex:0 0 auto;
}

#layout-bottom{
  padding:10px;
  flex:0 0 auto;
  z-index:200;
}


#layout-row {
  flex: 1 1 auto;
  display:flex;
 // background-color: yellowgreen;
}

#layout-editor {
  flex: 1 1 auto;
  position:relative;
}

#layout-props {
  flex: 0 0 auto;
  max-width:35%;
  min-width:150px;
}

#editor-container {
  position: absolute;
  top:0;
  left:0;
//  background-color: azure;
  transform-origin: top left;

}

#areas-bg-birka {
 // background-color: #fdf0ff;
  transition: transform .5s;
}

#areas-group,
#screenshot-base,
#screenshot-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}

#screenshot-base {
  opacity: 0;
}

.area-frame {
  position: absolute;
  cursor:pointer;

  &.hovered {
    outline: 1px dashed #099;
    cursor:inherit;
    .resize-hdl {
      display: none;
    }
  }

  &.selected {
    outline: 1px solid #099;
    z-index:2;
    cursor:inherit;
    .resize-hdl {
      display: block !important;
      background-color: #099;
      outline: 0;
    }
  }

  .area-mouse-ev {
    width:100%;
    height: 100%;
    position: relative;
  }

  .area {
    width:100%;
    height: 100%;

    overflow: hidden;
    user-select: none;

    background-color: transparent;

    &.text {
    }

    &.image {
      background: no-repeat center center;
      background-size: contain;
    }
  }
}

.prop-box {
  width:100%;
  padding:5px;
  background-color: antiquewhite;
}

#test-html {
  position:absolute;
  right:10px;
  bottom:10px;
}

#testCanvas {

  position:absolute;
  right:10px;
  bottom:10px;

  //background-color: azure;
}

.upload-input {
  display:inline-block;
  position: relative;
}

.over-button {
  width:100%;
}

.real-button{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
}

///ADMIN
#admin-edit-form {
  position: fixed;
  right: 10px;
  top: 10px;
  padding: 5px;
  width: 320px;
  background-color: antiquewhite;
}

#maket-select-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  &.admin-list {
    margin-right: 325px;
    padding: 5px;
  }

  > div {
    display: flex;
    flex-direction: column;

    > div {
      flex: 0 0 auto;

      &.birka {
        flex-grow: 1;
      }
    }
  }
}
