// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Body
$body-bg: white;

//Colors

$primary: #099;

$btn-border-radius: 30px;

//Modal
$modal-md: 530px;

